@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
}

@keyframes fade-in-up {
  0% { 
    opacity: 0; 
    transform: translateY(30px) scale(0.98) blur(5px); 
  }
  70% { 
    opacity: 1; 
    transform: translateY(-3px) scale(1.01) blur(0); 
  }
  100% { 
    opacity: 1; 
    transform: translateY(0) scale(1) blur(0); 
  }
}

@keyframes fade-in-down {
  0% { 
    opacity: 0; 
    transform: translateY(-30px) scale(0.98) blur(5px); 
  }
  70% { 
    opacity: 1; 
    transform: translateY(3px) scale(1.01) blur(0); 
  }
  100% { 
    opacity: 1; 
    transform: translateY(0) scale(1) blur(0); 
  }
}

.animate-fade-in-up { 
  animation: fade-in-up 0.85s cubic-bezier(.24,.84,.43,1.03) both; 
}

.animate-fade-in-down { 
  animation: fade-in-down 0.75s cubic-bezier(.24,.84,.43,1.03) both; 
}
